<html>
    <title>リクエスト</title>
    <style>
        .formposition{
            text-align: center; 
        }

        .return_bbs{
            text-align: start;
        }
        
    </style>
    <body>
        <a class="return_bbs" href="/bbs">掲示板へ戻る</a>
        <div class="formposition">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScZ5iu7QFcb5NNH4lzewhhqfNCCHIrlxJ2jSha5j4czXiCvmg/viewform?embedded=true" width="500" height="1000" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
    </div>
    </body>
</html>